<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.framework.mapper.StorageMapper">
	<insert id="insert" parameterType="com.hd.framework.model.storage.in.StorageEt">
		<![CDATA[
			INSERT INTO 
				storage (
					order_num,
					excute_time,
					product_id,
					material_report_num,
					production_batch,
					storage_num,
					contact_num,
					remark,
					storage_type,
					update_time,
					create_time
				)
			VALUES
				(
				#{orderNum},
				#{excuteTime},
				#{productId},
				#{materialReportNum},
				#{productionBatch},
				#{storageNum},
				#{contactNum},
				#{storageType},
				#{remark},
				now(),now())
		]]>
	</insert>

	<select id="selectOneById" parameterType="int"
		resultType="com.hd.framework.model.storage.out.StorageRt">
		<![CDATA[
			SELECT 
				*
			FROM
				storage
			WHERE 
				id = #{id}
		]]>
	</select>

	<!-- 分页 -->
	<sql id="pageWhere">
		<![CDATA[
			WHER
				a.storage_type = #{storageType}	
			AND 
				a.product_id = p.id
		]]>
		<if test="orderNum!=null and orderNum!=''">
		<![CDATA[			
			AND a.order_num like #{orderNum}
		]]>
		</if>
		<if test="productName!=null and productName!=''">
		<![CDATA[			
			AND p.name like #{productName}
		]]>
		</if>
		<if test="proPicNum!=null and proPicNum!=''">
		<![CDATA[			
			AND p.pic_name like #{proPicNum}
		]]>
		</if>
		<if test="proMaterialNum!=null and proMaterialNum!=''">
		<![CDATA[			
			AND p.material_num like #{proMaterialNum}
		]]>
		</if>
		<if test="proMaterialReportNum!=null and proMaterialReportNum!=''">
		<![CDATA[			
			AND p.material_report_num like #{proMaterialReportNum}
		]]>
		</if>
		<if test="productionBatch!=null and productionBatch!=''">
		<![CDATA[			
			AND p.production_batch like #{productionBatch}
		]]>
		</if>
		<if test="startTime!=null and startTime!=''">
		<![CDATA[			
			AND s.excute_time >= #{startTime}
		]]>
		</if>
		<if test="endTime!=null and endTime!=''">
		<![CDATA[			
			AND s.excute_time <= #{endTime}
		]]>
		</if>
	</sql>
	<select id="pageCount" parameterType="com.hd.framework.model.storage.in.StoragePageEt"
		resultType="int">
		<![CDATA[
			SELECT 
				count(s.id)
			FROM
				storage as a,product as p
		]]>
		<include refid="pageWhere" />
	</select>
	<select id="page" parameterType="com.hd.framework.model.storage.in.StoragePageEt"
		resultType="com.hd.framework.model.storage.out.StorageProductRt">
		<![CDATA[
			SELECT 
				s.order_num,
				s.excute_time,
				p.name as proName,
				p.pic_num as proPicNum,
				p.material_num as proMaterialNum,
				s.material_report_num,
				s.production_batch,
				s.contact_num,
				s.storage_num,
				s.remark
			FROM
				storage as s,product as p
		]]>
		<include refid="pageWhere"/>
		<![CDATA[
			ORDER BY
				s.create_time DESC
			LIMIT
				${(pageIndex-1)*pageSize},#{pageSize}
		]]>
	</select>

</mapper>