.nav{
	width:100%;
	height:68px;
	background-color:white;
	margin:0;
}

.container {
    height:68px;
}

.navbar-header{
	display: block;
	height:68px;
}

.navbar-header img{
	height:100%;
	width:100%;
}

.logo{
	float:left;
	height:100%;
	width:15%;
}

.position{
	font-size:20px;
	height:100%;
	float:left;
	padding-top:40px;
}

.set{
	float:right;
	height:100%;
	font-size:12px;
	margin-right:48px;
	margin-top:5px;
	line-height:25px;
}

.right{
	float:right;
	height:100%;
	font-size:12px;
	margin-right:18px;
	margin-top:5px;
	line-height:25px;
}

/* 显示时间*/
.date{
	width:100%;
	height:38px;
/* 	background-color:#00EEEE; */
	background-color:#B2DFEE;
}

.date .expression{
	padding-top:10px;
	padding-left:30px;
}
